<?xml version="1.0" encoding="utf-8" ?>
<EffectConfiguration>
	<Effect>
		<name>超人披風</name>
		<description>超人披風超人披風</description>
		<minute>30</minute>
	  </Effect>
	  <Effect>
		<name>超人內褲</name>
		<description>超人內褲超人內褲</description>
		<minute>30</minute>
	  </Effect>
	  <Effect>
		<name>超人電話亭</name>
		<description>超人電話亭超人電話亭</description>
		<minute>30</minute>
	  </Effect>
	  <Effect>
		<name>超人手錶</name>
		<description>超人手錶超人手錶</description>
		<minute>30</minute>
	  </Effect>
	<EffectCollection>
	  
	</EffectCollection>
</EffectConfiguration>